* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}


.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;



}

section {
    display: inline-block;
    margin-left: 86px;
}

header {
    margin: 44px 0 124px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    border-radius: 20.6px;
    background: #665AE1;
    width: 130px;
    height: 41px;
    border: none;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;

}


h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;

}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;


}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;


}

.button-section {
    width: 239px;
    height: 64px;
    border-radius: 30px;
    background: #ADFF00;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #000000;



}

@media (max-width: 800px) {

    main {
        width: 390px;
        height: 800px;

    }

    header {
        display: none;
    }

    p {
        display: none;
    }

    .logo-image {
        width: 353px;
        height: 317px;
        margin-top: 100px;
        margin-bottom: 10px;


    }

    h1 {
        font-size: 50px;
        line-height: 52px;
        width: 263px;
        height: 52px;
    }

    h2 {
        font-size: 30px;
        line-height: 37px; 
    }
}